@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.animate-fade {
  animation: fade 2s ease-in-out;
}